.active {
    background-color: #1e40af;
    color: white;
    border-color: #1e3a8a;

}

.inactive {
    background-color: white;
    color: #1e3a8a;

    border-color: #1e3a8a;

    &:hover {
        background-color: #e0f2fe;

    }
}